<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tem.gettogether"
    android:installLocation="preferExternal">

    <!-- <uses-sdk tools:overrideLibrary="io.rong.imkit,com.umeng.socialize.evernote,com.umeng.socialize.pinterest"/> -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 访问相册，访问文件系统等 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 发送位置消息，实时位置共享 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 拍照等 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 音视频 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 使用ActivityManager需要 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 适配 Android 8.0 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 保存图片，拍照等 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 消息通道保活 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 定位，如果您不需要定位相关的功能，可以删掉 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 华为 配置开始 < -->
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />

    <!-- 华为 配置结束 < -->
    <application
        android:name="com.tem.gettogether.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:replace="android:value" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name="com.coloros.mcssdk.PushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tem.gettogether.activity.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tem.gettogether.activity.MainActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>

                <action android:name="android.intent.action.LOCALE_CHANGED" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.tem.gettogether.activity.my.ZuJiActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.SettingActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.ZHAQActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.AddressGLActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.GRMeassageActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.GYWeActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.XGPhoneActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.XGPhone2Activity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.KSPHActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopRZActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.GLAccountActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.XGPayPassWordActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.XGPayPass2Activity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.BankCardBDActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.BankCardQRActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.AddAddressActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopRZSHActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.AutonymRZActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.AutonymSHActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.TAdviseActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.AmendLoginPassActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.MyOrderActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.MyPocketActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.ChongZhiActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.TiXianActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.YEChongzhiActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.YETixianActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.BKRecommecdActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.ClothingBazaarActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.ShopConnectActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.tem.gettogether.activity.home.ShoppingParticularsActivity" />
        <activity
            android:name="com.tem.gettogether.activity.home.ShoppingEvaluateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.ShopActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.HotFenLeiActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.ShopXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.scanqrcode.activity.MipcaActivityCapture"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.HomeGongGaoActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.tem.gettogether.activity.cart.CloseAccountActivity" />
        <activity
            android:name="com.tem.gettogether.activity.shopping.ShopFLConnectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.HomeSouSuoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.SCconnectActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />

        <!--   <provider
               android:name="android.support.v4.content.FileProvider"
               android:authorities="com.seven.modifyavatarmaster.fileprovider"
               android:exported="false"
               android:grantUriPermissions="true">
               <meta-data
                   android:name="android.support.FILE_PROVIDER_PATHS"
                   android:resource="@xml/file_paths" />
           </provider>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tem.gettogether.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity
            android:name="com.tem.gettogether.utils.permissions.PermissionsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.OrderXQActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.ForgetPassActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.LookWuLiuActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <!-- 微信支付回调activity -->
        <activity
            android:name="com.tem.gettogether.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tem.gettogether.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tem.gettogether.rongyun.ConversationListFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tem.gettogether"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 会话界面 Activity -->
        <!--ConversationActivity singleTask-->
        <activity
            android:name="com.tem.gettogether.rongyun.ConversationActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tem.gettogether"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tem.gettogether.rongyun.PushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tem.gettogether"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e09af6a2b26c02086e9216bd07c960ae" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ca2cf740cafb2c7f2001737" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101557245" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.tem.gettogether.activity.ShoppingKUActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.home.MainhotLookMoreActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.MyMessageActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.ShowImageDetail"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.LanguageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.NewAddShoppingActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.PostEvaluationActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.NewShopRenZhengActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.fragment.PersonageRZActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.EnterpriseRZActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.EnterpriseShopRZActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.UploadQYActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.StoreManagementActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.fragment.ShopXinXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.XTMessageActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.MessageH5Activity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopDTFBActivity"
            android:configChanges="locale" />
        <activity android:name="com.tem.gettogether.activity.FuWuXieYiActivity" />
        <activity
            android:name="com.tem.gettogether.activity.my.XeiYiH5Activity"
            android:configChanges="locale"
            android:launchMode="singleTask" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopGGH5Activity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.TuWenXQActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ZhuTuXQActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ZhuTuXQNewActivity"
            android:configChanges="locale" />

        <activity
            android:name="com.tem.gettogether.activity.my.ChanPinGLActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.BuyMessageActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.home.MainHotTJActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.MemberActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.BuyMemberActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.ServiceProviderActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.HomeHotSellActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.HomeLianMengActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.LianMengDetailActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.HomeBuyDetailActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.HomeBuyDetailNewActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.WaiMaoQiuGouActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.classification.ClassificationActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.shopauthentication.ShopAuthenticationActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.shopauthentication.PersionAuthenticationActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.shopauthentication.DistributorAuthenticationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.CorporateInformationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.CgsAuthenticationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.FansActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.XunPanTuiSongActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.MyShopActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.VipCenterActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ProductManagmentActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.VisitorActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopRzFailedActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.BuyingManagementActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.cart.ShoppingCartActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.order.CaiGouShangOrderActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.order.GongYingOrderActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.order.CaiGouShangNewOrderActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.order.GongYingShangNewOrderActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.TextDescriptionActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.linyi.LinYiClassificationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.publishgoods.PublishGoodsActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.specifications.SpecificationsActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.specificationsdetail.SpecificationsDetailActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.decoration.ShopDecorationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopLogoActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.my.ShopBgActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.translation.TranslationActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tem.gettogether.activity.speechtranslation.SpeechTranslationActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.member.MemberCentreActivity"
            android:configChanges="locale" />

        <activity
            android:name=".activity.my.refund.RefundActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.login.phonelogin.PhoneLoginActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.login.register.RegisterActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.login.forgetpassword.ForgetPasswordActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.login.countrycode.CountryCodeActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.refundprogress.RefundProgressActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.my.authentication.AuthenticationActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.TogetherFactoryActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.TogetherFactorySearchActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.TogetherFactoryHistoryActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.OrderDetailActivity"
            android:configChanges="locale" />
        <activity
            android:name=".activity.home.FactoryWebActivity"
            android:configChanges="locale" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--融云广播接受者-->
        <receiver
            android:name="com.tem.gettogether.rongyun.CharNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <!--必选： SDK 核心功能-->
        <!--第三方相关,向第三方推送服务请求 token 的服务 -->
        <service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>


        <!-- 处理 push 消息相关的服务 -->
        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>


        <!-- push服务 -->
        <service
            android:name="io.rong.push.rongpush.PushService"
            android:exported="true"
            android:process="io.rong.push"
            android:permission="android.permission.BIND_JOB_SERVICE">  <!-- push进程，可以改名 -->
        </service>


        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.rongpush.PushReceiver"
            android:process="io.rong.push">
            <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->

            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!--必选： SDK 核心功能-->

    </application>

</manifest>